  h1 {
    color: #2c3e50;
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    transition: color 0.3s ease-in-out;
    text-align: center;
  }

  h1:hover {
    color: rgb(208, 150, 96);
}

.dropdown {
  margin: 20px 0;
  text-align: center;
}

.dropdown select {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #2c3e50;
  border-radius: 5px;
  background-color: #ecf0f1;
  transition: background-color 0.3s ease-in-out;
}

.dropdown select:hover {
  background-color: #bdc3c7;
}

.dashboard-section {
  margin-top: 20px;
}


